@use '../../app/styles/variables' as *;

.form {
  padding: $page-pad-top 0 $page-pad-bottom;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
  }

  &__error {
    text-align: center;
    font-size: $font-caption;
    line-height: 1.4;
    color: $color-error;
  }

  &__hint {
    font-size: $font-caption;
    line-height: 1.4;
    color: $color-hint;
    padding: 0 $space-sm;
  }
}
